<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Флористика-свадебная флористика</title>
        <link rel="stylesheet" href="dist/app.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    </head>
<body>
    
    <section class="photo">
        <div class="photo__logo">

        </div>
        <div class="photo__img">

        </div>
    </section>

    <section class="menu-page">
        <header class="menu-page__header">
            <div class="header-logo">
                <a href="#"><img src="" alt=""></a>
            </div>
        </header>
        <div class="menu-page__article">
            <div class="article-title">
                <p></p>
            </div>
            <div class="article-description">
                <p></p>
            </div>
            <div class="article-link">
                <a href="#">
                    <p class="btn-article-to-order"></p>
                </a>
            </div>
            <div class="slider">

            </div>
        </div>
        <footer class="menu-page__footer">
            <div class="more-photo-insta">
                <p></p>
            </div>
        </footer>
    </section>

    <footer class="main-footer">
        <div class="main-footer__items flex wrapper">
            <div class="footer-item">
                <a href="#">
                    <p>Cвадебная флористика</p>
                </a>
            </div>
            <div class="footer-item">
                <a href="#">
                    <p>Букеты на любые мероприятия</p>
                </a>
            </div>
            <div class="footer-item">
                <a href="#">
                    <p>Букеты невесты</p>
                </a>
            </div>
            <div class="footer-item">
                <a href="#">
                    <p>Композиции</p>
                </a>
            </div>
            <div class="footer-item">
                <a href="#">
                    <p>Оформление мероприятий</p>
                </a>
            </div>
        </div>
        <div class="main-footer__social wrapper">
            <div class="social-items flex">
                <div class="social-item"><img src="/img/footer/inst.svg" alt="" class="inst"></div>
                <div class="social-item"><img src="/img/footer/fb.svg" alt="" class="inst"></div>
                <div class="social-item"><img src="/img/footer/whatsapp.svg" alt="" class="inst"></div>
                <div class="social-item"><img src="/img/footer/vk.svg" alt="" class="inst"></div>
            </div>
        </div>
    </footer>
</body>
</html>