html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: "forum";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 33px;
    color: white;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background: #e5e5e5;
  }
  
//display flex
.flex {
    display: flex;
    flex-wrap: wrap;
}

//wrappers 
.wrapper {
    margin: 0 auto;
}