@import "./settings";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
//section-main---------------------
section.main {
    background-color: #3B181E;
    background-image: url(/img/section-main/main-screen-bg.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 1920px;
    max-height: 1080px;
    width: 100%;
    height: 1020px;
    .main__header {
        height: 19%;
        justify-content: space-between;
        margin-top: 100px;
        margin-left: 95px;
        margin-right: 95px;
      .header-logo {
      }
      .header-main-menu {
      }
    }
    .main__title {
        height: 26%;
        max-width: 818px;
        p {
            font-size: 120px;
            line-height: 132px;
            text-align: center;
            letter-spacing: 0.09em;
        }
    }
    .main__footer {
        height: 30%;
        justify-content: space-between;
        margin-top: 80px;
        margin-left: 80px;
        margin-right: 80px;
      .sidebar-social {
        .social-items {
            flex-wrap: wrap;
            flex-direction: column;
          .social-item {
              margin: 12.5px;
          }
        }
      }
      .our-works-button {
          flex-wrap: wrap;
          max-width: 205px;
        .show-work-btn {
            a {
                text-decoration: none;
                p {
                    font-size: 12px;
                    line-height: 13px;
                    text-align: center;
                    letter-spacing: 0.15em;
                    color: white;
                    border: 1px solid white;
                    padding: 19px 30px;
                    background-color: rgba(0, 0, 0, 0.4);
                }
            }
        }
        .mouse-btn {
            align-self: flex-end;
            a { 
                text-decoration: none;
                img {}
            }
        }
      }
      .sidebar-show-catalog {
        .show-catalog-link {
            a {
                text-decoration: none;
                img {}
            }
        }
      }
    }
    .main__footer-gradient {
        height: 8%;
        background: linear-gradient(0deg, #3B181E 3.33%, rgba(59, 24, 30, 0) 100%);
    }
  }
  
//section-catalog------------------
  section.catalog {
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #3B181E;
    height: 860px;
    max-width: 1920px;
    max-height: 860px;
    width: 100%;
    .catalog__title {
      margin-top: 150px;
      p {
        position: relative;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 33px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      }
      p::after {
        position: absolute;
        top: 54px;
        bottom: -20px;
        left: 60px;
        border: 1px solid #FFFFFF;
        width: 100px;
        background-color: white;
        content: '';
      }
      p::before {
        position: absolute;
        top: 25px;
        left: -750px;
        width: 750%;
        content: 'Каталог услуг';
        font-size: 720%;
        line-height: 243px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.03;
      }
    }
    .catalog__items {
      margin-top: 120px;
      .catalog-item {
        margin-left: 50px;
        position: relative;
        a {
          text-decoration: none;
          color: #FFFFFF
        }
      }
      .catalog-item:first-child {
        margin-left: 0px;
      }
      //catalog-item-active-on--AND--darkened-------------  
      .active-on {
          z-index: 1;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: space-between;
          height: 400px;
          position: absolute;
          top: 36px;
          left: 20px;
          .item-article__header {
            flex-direction: row-reverse;
            justify-content: flex-end;
            p:first-child {
              font-size: 20px;
              line-height: 22px;
              margin-left: 12px
            }
            p:last-child {
              content: '';
              align-self: flex-end;
              width: 60px;
              margin-bottom: 3px;
              height: 1px;
              background-color: white;
            }
          }
          .item-article__footer {
            align-self: flex-end;
            p {
              font-size: 16px;
              line-height: 170%;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              color: #FFFFFF;
              opacity: 0.9;
            }
            .btn-show-work {
              width: 200px;
              height: 50px;
              background-color: white;
              margin-top: 20px;
              margin-bottom: 10px;
              .p-show-works {
                font-size: 12px;
                line-height: 13px;
                text-align: center;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: #010001;
                padding-top: 19px;
              }
              .p-show-works:after {
                content: 'смотреть работы';
              }
            }
          }
        }
        .darkened::before {
          content: '';
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          background: rgba(0, 0, 0, 0.6);
          z-index: 1;
        }
        .border-around::after {
          content: '';
          position: absolute;
          top: -10px;
          bottom: -10px;
          left: -10px;
          right: -10px;
          border: 1px solid rgba(255, 255, 255, 0.2);

          z-index: 1;
        }
      //catalog-item-active-off------------------
      .active-off {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
        position: absolute;
        top: 36px;
        left: 20px;
        .item-article__header {
          p:first-child {
            font-size: 20px;
            line-height: 22px;
          }
          p:last-child {
            content: '';
            align-self: flex-end;
            width: 60px;
            margin-bottom: 3px;
            margin-left: 12px;
            height: 1px;
            background-color: white;
          }
        }
        .item-article__footer {
          align-self: flex-end;
          p {
            font-size: 16px;
            line-height: 170%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.9;
          }
        }
      }
    }
  }
  
//section-special-offer------------
  section.special-offer {
    background-color: #3B181E;
    height: 680px;
    max-width: 1920px;
    max-height: 680px;
    width: 100%;
    .special-offer__article {
      .offer-title {
      }
      .offer-description {
      }
      .offer-link {
      }
    }
    .special-offer__img {
    }
  }
  
//footer---------------------------
  footer.main-footer {
    background-color: #3B181E;
    height: 75px;
    max-width: 1920px;
    max-height: 75px;
    width: 100%;
    .main-footer__items {
      .footer-item {
      }
    }
    .main-footer__social {
      .social-items {
        .social-item {
  
        }
      }
    }
  }