@import "./settings";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
//section-main---------------------
section.main {
    background-color: #3B181E;
    background-image: url(/img/main-screen/main-screen-bg.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 1920px;
    max-height: 1080px;
    width: 100%;
    height: 1020px;
    .main__header {
        height: 28%;
      .header-logo {
      }
      .header-main-menu {
      }
    }
    .main__title {
        height: 26%;
    }
    .main__footer {
        height: 38%;
      .sidebar-social {
        .social-items {
          .social-item {
          }
        }
      }
      .our-works-button {
        .show-work-btn {
        }
        .mouse-btn {
        }
      }
      .sidebar-show-catalog {
        .show-catalog-link {
        }
      }
    }
    .main__footer-gradient {
        height: 8%;
        background: linear-gradient(0deg, #3B181E 3.33%, rgba(59, 24, 30, 0) 100%);
    }
  }
  
//section-catalog------------------
  section.catalog {
    background-color: #3B181E;
    height: 860px;
    max-width: 1920px;
    max-height: 860px;
    .catalog__title {
    }
    .catalog__items {
      .catalog-item {
      }
    }
  }
  
//section-special-offer------------
  section.special-offer {
    .special-offer__article {
      .offer-title {
      }
      .offer-description {
      }
      .offer-link {
      }
    }
    .special-offer__img {
    }
  }
  
//footer---------------------------
  footer.main-footer {
    .main-footer__items {
      .footer-item {
      }
    }
    .main-footer__social {
      .social-items {
        .social-item {
  
        }
      }
    }
  }