@import "./settings";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
@import "./mobile.scss";
@import "./mobile-pad.scss";
@import "./glide.scss";

@media screen and (min-width: 1600px) {
body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

//section-main---------------------
section.main {
    background-color: #3B181E;
    background-image: url(/img/section-main/main-screen-bg.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 1920px;
    max-height: 1080px;
    width: 100%;
    height: 1020px;
    .main__header {
        height: 19%;
        justify-content: space-between;
        margin-top: 100px;
        margin-left: 95px;
        margin-right: 95px;
      .header-logo {
      }
      .header-main-menu {
      }
      .header-main-menu>a>img:hover {
        -webkit-filter: invert(30%);
      }
    }
    .main__title {
        height: 26%;
        max-width: 818px;
        p {
            font-size: 120px;
            line-height: 132px;
            text-align: center;
            letter-spacing: 0.09em;
        }
    }
    .main__footer {
        height: 30%;
        justify-content: space-between;
        margin-top: 80px;
        margin-left: 80px;
        margin-right: 80px;
      .sidebar-social {
        .social-items {
            flex-wrap: wrap;
            flex-direction: column;
          .social-item {
              margin: 12.5px;
          }
          .social-item:hover {
            -webkit-filter: invert(100%);
            img {background-color: black;}
          }
        }
      }
      .our-works-button {
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: space-between;
          max-width: 205px;
          width: 205px;
        .show-work-btn {
          justify-content: center;
            a {
                text-decoration: none;
                p.show-off {
                    display: block;
                    font-size: 12px;
                    line-height: 13px;
                    text-align: center;
                    letter-spacing: 0.15em;
                    color: white;
                    border: 1px solid white;
                    padding: 19px 30px;
                    background-color: rgba(0, 0, 0, 0.4);
                }
                p.show-on {
                  display: none;
                  font-size: 12px;
                  line-height: 13px;
                  text-align: center;
                  letter-spacing: 0.15em;
                  color: #000000;
                  background-color: white;
                  border: 1px solid white;
                  padding: 19px 22px;
                }
            }
        }
        .show-work-btn:hover .show-off {
          display: none;
        }
        .show-work-btn:hover .show-on {
          display: block;
        }
        .mouse-btn {
            align-self: flex-end;
            a { 
                text-decoration: none;
                img.mouse-off {display: block;}
                img.mouse-on {display: none;}
            }
        }
        .mouse-btn:hover img.mouse-off {
          display: none;
        }
        .mouse-btn:hover img.mouse-on {
          display: block;
        }
      }
      .sidebar-show-catalog {
        .show-catalog-link {
            a {
                text-decoration: none;
                img.catalog-link-off {display: block}
                img.catalog-link-on {display: none;}
            }
        }
        .show-catalog-link:hover img.catalog-link-off{
          display: none;
        }
        .show-catalog-link:hover img.catalog-link-on {
          display: block;
        }
      }
    }
    .main__footer-gradient {
        height: 8%;
        background: linear-gradient(0deg, #3B181E 3.33%, rgba(59, 24, 30, 0) 100%);
    }
  }
  
//section-catalog------------------
  section.catalog {
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #3B181E;
    height: 860px;
    max-width: 1920px;
    max-height: 860px;
    width: 100%;
    .catalog__title {
      margin-top: 150px;
      a{
        text-decoration: none;
        color: white;
      p {
        position: relative;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 33px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      }
      p::after {
        position: absolute;
        top: 54px;
        bottom: -20px;
        left: 60px;
        border: 1px solid #FFFFFF;
        width: 100px;
        background-color: white;
        content: '';
      }
      p::before {
        position: absolute;
        top: 25px;
        left: -750px;
        width: 750%;
        content: 'Каталог услуг';
        font-size: 720%;
        line-height: 243px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.03;
      }
     }  
    }
    .catalog__items {
      margin-top: 120px;
      .catalog-item {
        margin-left: 50px;
        position: relative;
        a {
          text-decoration: none;
          color: #FFFFFF
        }
      }
      .catalog-item:first-child {
        margin-left: 0px;
      }
      //catalog-item-active-on--AND--darkened-------------  
      .active-on {
          z-index: 1;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: space-between;
          height: 400px;
          position: absolute;
          top: 36px;
          left: 20px;
          .item-article__header {
            flex-direction: row-reverse;
            justify-content: flex-end;
            p:first-child {
              font-size: 20px;
              line-height: 22px;
              margin-left: 12px
            }
            p:last-child {
              content: '';
              align-self: flex-end;
              width: 60px;
              margin-bottom: 3px;
              height: 1px;
              background-color: white;
            }
          }
          .item-article__footer {
            align-self: flex-end;
            p {
              font-size: 16px;
              line-height: 170%;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              color: #FFFFFF;
              opacity: 0.9;
            }
            .btn-show-work {
              width: 200px;
              height: 50px;
              background-color: white;
              margin-top: 20px;
              margin-bottom: 10px;
              .p-show-works {
                font-size: 12px;
                line-height: 13px;
                text-align: center;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: #010001;
                padding-top: 19px;
              }
              .p-show-works:after {
                content: 'смотреть работы';
              }
            }
          }
        }
        .darkened::before {
          content: '';
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          background: rgba(0, 0, 0, 0.6);
          z-index: 1;
        }
        .border-around::after {
          content: '';
          position: absolute;
          top: -10px;
          bottom: -10px;
          left: -10px;
          right: -10px;
          border: 1px solid rgba(255, 255, 255, 0.2);

          z-index: 1;
        }
      //catalog-item-active-off------------------
      .active-off {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
        position: absolute;
        top: 36px;
        left: 20px;
        .item-article__header {
          p:first-child {
            font-size: 20px;
            line-height: 22px;
          }
          p:last-child {
            content: '';
            align-self: flex-end;
            width: 60px;
            margin-bottom: 3px;
            margin-left: 12px;
            height: 1px;
            background-color: white;
          }
        }
        .item-article__footer {
          align-self: flex-end;
          p {
            font-size: 16px;
            line-height: 170%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.9;
          }
        }
      }
    }
  }

//section-catalog-mobile
section.catalog-mobile {
  display: none;
}

//section-special-offer------------
  section.special-offer {
      background-color: #3B181E;
      max-width: 1920px;
      width: 100%;
      padding-top: 100px;
      padding-bottom: 170px;
      div {
        width: 1310px;
      .special-offer__article {
        width: 410px;
        max-height: 410px;
        height: 500px;
        align-content: center;
        margin-right: 164px;
        .offer-title {
          position: relative;
          p {
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 170%;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #FFFFFF;
          }
        }
        .offer-title::after {
          position: absolute;
          top: 120px;
          bottom: -20px;
          left: 0px;
          border: 1px solid #FFFFFF;
          width: 100px;
          background-color: white;
          content: '';
        }
        .offer-description {
          text-transform: none;
          margin-top: 40px;
          font-size: 14px;
          line-height: 170%;
        }
        .offer-link {
          font-size: 11px;
          line-height: 12px;
          letter-spacing: 0.15em;
          width: 220px;
          height: 45px;
          background: #010001;
          margin-top: 40px;
          text-align: center;
          padding-top: 15px;
          a {
            text-decoration: none;
            color: white;
            .btn-offer-design {
              
            }
          }
        }
        .offer-link:hover {
          background-color: white;
          a {
            color: #000000;
          }
        }
      }
      .special-offer__img {
        max-height: 410px;
        max-width: 700px;
      }
    }
  }
  
//footer---------------------------
  footer.main-footer {
    background-color: #3B181E;
    height: 120px;
    max-width: 1920px;
    max-height: 120px;
    width: 100%;
    padding-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    .main-footer__items {
      width: 70%;
      justify-content: space-around;
      .footer-item {
        a { 
          text-decoration: none;
          p {
            text-transform: none;
            font-size: 16px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.5);
          }
          p:hover {
            color: white
          }
        }
      }
    }
    .main-footer__social {
      .social-items {
        justify-content: center;
        .social-item {
          margin: 30px 50px;
        }
        .social-item:hover {
          -webkit-filter: invert(100%);
          img {background-color: black;}
        }
      }
    }
  }

//MAIN-MENU-PAGE---------------------------
//section photo----------------------
div.wrap-menu-page { 
  max-width: 1920px; 
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  section.photo {
    width: 996px;
    height: 1081px;
    position: relative;
    .photo__logo {
      z-index: 3;
      position: absolute;
      left: 95px;
      top: 87px;
      content: '';
    }
    .photo__img:after {
      position: absolute;
      top: 30px;
      left: 30px;
      content: '';
      width: 996px;
      height: 1021px;
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  //section-menu-page------------------
  section.menu-page {
    max-width: 924px;
    min-width: 750px;
    width: 100%;
    height: 1081px;
    flex-shrink: 10;
    background-color: #3B181E;
    flex-direction: column;
    .menu-page__header {
      align-self: flex-end;
      margin-right: 85px;
      margin-top: 75px;
      .header-menu {
        a {
          img {

          }
        }
      }
      .header-menu>a>img:hover {
        -webkit-filter: invert(30%);
      }
    }

    .menu-page__article {
      width: 465px;
      height: 110px;
      margin-left: 114px;
      .menu-page__article-title {
        margin-top: 100px;
        p {
          font-size: 50px;
          line-height: 55px;
          letter-spacing: 0.09em;
          text-transform: uppercase;
        }
      }

      .menu-page__article-description {
        width: 635px;
        height: 110px;
        margin-top: 50px;
        p {
          text-transform: initial;
          font-family: Forum;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 150%;
          color: #FFFFFF;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }

      .menu-page__article-link {
        width: 135px;
        height: 50px;
        margin-top: 65px;
        a {
          text-decoration: none;
          .btn-article-to-order {
            font-size: 12px;
            line-height: 13px;
            text-align: center;
            letter-spacing: 0.15em;
            color: #FFFFFF;
            border: 1px solid white;
            padding: 19px 30px;
          }
          .btn-article-to-order:hover {
            background-color: white;
            color: #000000;
          }
        }
      }

      .menu-page__slider {
        width: 552px;
        height: 123px;
        margin-top: 80px;
        .glide {
          .glide__track {
            .glide__slides {
              .glide__slide {
        
              }
            }
          }
        
          .glide__arrows {
            position: relative;
            button.glide__arrow.glide__arrow--left {
              position: absolute;
              left: -23px;
              top: -62px;
              border-radius: 50%;
              width: 46px;
              height: 46px;
              border: 1px solid #FFFFFF;
              background: rgba(0, 0, 0, 0.4);
              p {
                position: absolute;
                left: 19px;
                top: 8px;
                transform: rotate(-90deg);
              }
            }
        
            button.glide__arrow.glide__arrow--right {
              position: absolute;
              right: -23px;
              top: -62px;
              border-radius: 50%;
              width: 46px;
              height: 46px;
              border: 1px solid #FFFFFF;
              background: rgba(0, 0, 0, 0.4);
              p {
                position: absolute;
                transform: rotate(90deg);
                top: 8px;
              }
            }
          }
        }
      }
    }

    .menu-page__footer {
      align-self: flex-end;
      margin-top: 700px;
      margin-right: 95px;
      .more-photo-insta {
        p {
          text-transform: initial;
          font-size: 18px;
          line-height: 150%;
          margin-right: 30px;
        }
        .social-insta {
          background-color: #3B181E;
          width: 30px;
          height: 30px;
          img {
            padding-left: 3px;
            padding-bottom: 3px;
          }
        }
        .social-insta:hover {
          -webkit-filter: invert(100%);
          img {background-color: black;}
        }
      }
    }
  }

  //footer----------------------------
  footer.menu-page-main-footer {
    display: none;
    div.main-footer__items.flex.wrapper {
      div.footer-item {
        a {
          p {

          }
        }
      }
    }

    div.main-footer__social.wrapper {
      div.social-items.flex {
        div.social-item {
          img.inst {

          }
        }
      }
    }
  }
}

//section-pupup-main-menu---------------------
section.popup-main-menu {
  position: fixed;
  justify-content: space-between;
  top: 0px;
  z-index: 5;
  max-width: 1920px;
  width: 100%;
  max-height: 1080px;
  height: 1080px;
  background-color: #3B181E;
  border: 1px solid rgba(255, 255, 255, 0.2);
  .popup-main-menu__column-socials {
    width: 15%;
    padding-bottom: 100px;
    padding-left: 100px;
    align-self: flex-end;
    .social-items {
      .social-item {
        margin-bottom: 25px;
        img.inst {
        }
      }
      .social-item:last-child {
        margin-bottom: 0px;
      }
      .social-item:hover {
        -webkit-filter: invert(100%);
        img {background-color: black;}
      }
    }
  }

  div.popup-main-menu__column-menu {
    margin-top: 95px;
    .main-menu-logo {
      text-align: center;
      a {
        img {}
      }
    }
    .main-menu-items {
      margin-top: 200px;
      .menu-item {
        width: 433px;
        height: 100px;
        margin-bottom: 65px;
        a {
          text-decoration: none;
          p {
            font-size: 35px;
            line-height: 39px;
            text-align: center;
            letter-spacing: 0.09em;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
          }
          p:hover {
            font-size: 45px;
            line-height: 50px;
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .popup-main-menu__column-btn-close {
    width: 15%;
    .btn-close {
      padding-top: 100px;
      padding-left: 125px;
    }
    .btn-close:hover {
      a>img {
        filter: contrast(40%);
      }
    }
  }
}

}