@media screen and (max-width: 1599px) and (min-width: 641px) {
//@media screen and (max-width: 1599px) {

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
}

//section-main---------------------
section.main {
    background-color: #3B181E;
    background-image: url(/img/mobile/main-bg-mobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 768px;
    //max-height: 1110px;
    width: 100%;
    //height: 1110px;
    .main__header {
        height: 10%;
        justify-content: space-between;
        margin-left: 31px;
        margin-top: 16px;
        margin-right: 31px;
      .header-logo>a>img {
          width: 135px;
      }
      .header-main-menu>a>img {
          content: url(/img/mobile/main-menu-mobile.png);
          width: 120%;
      }
    }
    .main__title {
        max-width: 567px;
        margin-top: 190px;
        p {
          font-size: 70px;
          line-height: 77px;
          text-align: center;
          letter-spacing: 0.09em;
        }
    }
    .main__footer {
        //height: 180px;
        width: 768px;
        justify-content: space-between;
        margin-top: 82px;
        flex-direction: column-reverse;
      .sidebar-social {
          margin: 0 auto;
          margin-top: 211px;
          margin-bottom: 85px;
          position: relative;
        .social-items {
            flex-wrap: wrap;
          .social-item {
              width: 65px;
              height: 65px;
              margin: 63px;
              background-color: #3B181E;
              border-radius: 50%;
              img {
                  width: 33px;
                  margin-left: 16px;
                  margin-top: 15px;
              }
          }
          .social-item:hover {
            -webkit-filter: invert(100%);
            img {        
            }
          }
        }
        .social-items::after {
          content: '';
          position: absolute;
          width: 45px;
          height: 45px;
          background-image: url(/img/mobile-pad/section-main-pad-arrow.png);
          background-repeat: no-repeat;
          top: 165px;
          left: 364px;
        }
      }
      .our-works-button {
          max-width: 257px;
          width: 257px;
          align-self: center;
        .show-work-btn {
          justify-content: center;
            a {
                text-decoration: none;
                p.show-off {
                    display: block;
                    font-size: 15px;
                    line-height: 17px;
                    text-align: center;
                    letter-spacing: 0.15em;
                    color: white;
                    border: 1px solid white;
                    padding: 22px 40px;
                    background-color: rgba(0, 0, 0, 0.4);
                }
                p.show-on {
                  display: none;
                  font-size: 15px;
                  line-height: 17px;
                  text-align: center;
                  letter-spacing: 0.15em;
                  color: #000000;
                  background-color: white;
                  border: 1px solid white;
                  padding: 22px 35px;
                }
            }
        }
        .show-work-btn:hover .show-off {
          display: none;
        }
        .show-work-btn:hover .show-on {
          display: block;
        }
        .mouse-btn {
            display: none;
        }
      }
      .sidebar-show-catalog {
          display: none;
      }
    }
    .main__footer-gradient {
        display: none;    
    }
  }

//section-catalog-------------------------
section.catalog {
  display: none;
}

//section-catalog-mobile------------------
section.catalog-mobile.flex {
  display: block;
  background-color: #3B181E;
  max-width: 768px;
  width: 100%;
  .catalog__title {
    p {
      font-size: 30px;
      line-height: 33px;
      letter-spacing: 0.06em;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 40px;
      position: relative;
    }
    p:after {
      content: '';
      position: absolute;
      width: 86px;
      height: 0px;
      border: 2px solid white;
      top: 45px;
      bottom: -20px;
      left: 340px;
      

    }
  }

  .catalog__items {
     margin-left: 37px;
     margin-right: 33px;
     margin-top: 50px;
    
    .slid {
      .slider {
        width: 700px;
        height: 450px;
        .slides {
          .slide {
            position: relative;
            .item-num {
              position: absolute;
              top: 23px;
              left: 100px;
              font-size: 20px;
              line-height: 22px;
              color: white;
            }
            .item-dash {
              position: absolute;
              border: 1px solid white;
              left: 20px;
              top: 36px;
              right: 250px;
            }
            .item-title {
              position: absolute;
              font-size: 16px;
              line-height: 170%;
              letter-spacing: 0.1em;
              color: white;
              bottom: 15px;
              left: 20px;
            }
            img {
            }
          }
        }
      }
      .slide__bullets {
        width: 670px;
        margin-top: 30px;
        margin-bottom: 50px;
        justify-content: center;
        .slide__bullet {
          height: 3px;
          width: 62.62px;
          background: rgba(255, 255, 255, 0.3);
          border-radius: 50px;
          border: 0px;
          margin-left: 13px;
        }
        #slide__bullet-2 {
          display: none;
        }
        #slide__bullet-4 {
          display: none;
        }
        .glide__bullet--active {
          background-color: white;
          border: 0px;
        }
      }
    }
  }
}

//section-special-offer------------
section.special-offer {
  background-color: #3B181E;
  max-width: 768px;
  width: 100%;
  div {
    width: 507px;
    flex-direction: column-reverse;
    align-content: center;
    margin: 0 auto;
  .special-offer__article {
    width: 288px;
    align-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    .offer-title {
      position: relative;
      margin-top: 30px;
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 170%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-right: 20px;
      }
    }
    .offer-title::after {
      position: absolute;
      top: 60px;
      bottom: 0px;
      left: 200px;
      border: 1px solid #FFFFFF;
      width: 100px;
      background-color: white;
      content: '';
    }
    .offer-description {
      text-transform: none;
      margin-top: 30px;
      font-size: 14px;
      line-height: 170%;
      text-align: center;
    }
    .offer-link {
      font-size: 11px;
      line-height: 12px;
      letter-spacing: 0.15em;
      width: 220px;
      height: 45px;
      background: #010001;
      margin-top: 40px;
      text-align: center;
      padding-top: 15px;
      a {
        text-decoration: none;
        color: white;
        .btn-offer-design {
          
        }
      }
    }
    .offer-link:hover {
      background-color: white;
      a {
        color: #000000;
      }
    }
  }
  .special-offer__img {
    width: 453px;
    height: 323px;
    content: url(/img/mobile-pad/special-offer-main-pad.jpg);
    img {max-width: 100%;}
  }
}
}

//footer---------------------------
footer.main-footer {
  background-color: #3B181E;
  max-width: 768px;
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  .main-footer__items {
    width: 310px;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    .footer-item {
      a { 
        text-decoration: none;
        p {
          text-transform: none;
          font-size: 20px;
          line-height: 22px;
          color: rgba(255, 255, 255, 0.5);
          margin-bottom: 15px;
        }
        p:hover {
          color: white
        }
      }
    }
  }
  .main-footer__social {
    .social-items {
      justify-content: center;
      .social-item {
        margin: 30px 25px;
        img {
          width: 30px;
        }
      }
      .social-item:hover {
        -webkit-filter: invert(100%);
        img {background-color: black;}
      }
    }
  }
}

//MAIN-MENU-PAGE---------------------------
//section photo----------------------
div.wrap-menu-page { 
  max-width: 768px; 
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #3B181E;
  section.photo {
    margin-top: 110px;
    width: 768px;
    position: relative;
    .photo__logo {
      position: absolute;
      left: 45px;
      top: -77px;
      content: '';
    }
    .photo__img>img {
      content: url(/img/main-menu-page1/main-menu-page-photo1mini.png);
      width: 768px;
      height: auto;
    }
    .photo__img:after {
      display: none;
    }
  }

  //section-menu-page------------------
  section.menu-page {
    position: relative;
    max-width: 924px;
    min-width: 750px;
    width: 100%;
    height: 1081px;
    flex-shrink: 10;
    background-color: #3B181E;
    flex-direction: column;
    .menu-page__header {
      position: absolute;
      top: -595px;
      right: 40px;
      .header-menu {
        a {
          img {
            content: url(/img/main-menu-page1/menu-page-menu-btn-pad.png);
            width: 38px;
            height: 20px;
          }
        }
      }
    }

    .menu-page__article {
      display: flex;
      flex-direction: column;
      width: 668px;
      height: 110px;
      margin-left: 60px;
      margin-top: 200px;
      .menu-page__article-title {
        margin-top: 70px;
        p {
          font-size: 40px;
          line-height: 44px;
          letter-spacing: 0.09em;
          letter-spacing: 0.09em;
          text-transform: uppercase;
        }
      }

      .menu-page__article-description {
        width: 635px;
        height: 110px;
        margin-top: 25px;
        p {
          text-transform: initial;
          font-family: Forum;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 120%;
          color: #FFFFFF;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }

      .menu-page__article-link {
        width: 135px;
        height: 50px;
        margin-top: 40px;
        a {
          text-decoration: none;
          .btn-article-to-order {
            font-size: 12px;
            line-height: 13px;
            text-align: center;
            letter-spacing: 0.15em;
            color: #FFFFFF;
            border: 1px solid white;
            padding: 19px 30px;
          }
          .btn-article-to-order:hover {
            background-color: white;
            color: #000000;
          }
        }
      }

      .menu-page__slider {
        position: absolute;
        top: -30px;
        left: 65px;
        width: 649px;
        height: 145px;
        margin-top: 80px;
        .glide {
          .glide__track {
            .glide__slides {
              .glide__slide {
                a>img {
                  width: 145px;
                }
              }
            }
          }
        
          .glide__arrows {
            position: relative;
            button.glide__arrow.glide__arrow--left {
              position: absolute;
              left: -23px;
              top: -62px;
              border-radius: 50%;
              width: 46px;
              height: 46px;
              border: 1px solid #FFFFFF;
              background: rgba(0, 0, 0, 0.4);
              p {
                position: absolute;
                left: 19px;
                top: 8px;
                transform: rotate(-90deg);
              }
            }
        
            button.glide__arrow.glide__arrow--right {
              position: absolute;
              right: -23px;
              top: -62px;
              border-radius: 50%;
              width: 46px;
              height: 46px;
              border: 1px solid #FFFFFF;
              background: rgba(0, 0, 0, 0.4);
              p {
                position: absolute;
                transform: rotate(90deg);
                top: 8px;
              }
            }
          }
        }
      }
    }

    .menu-page__footer {
      align-self: flex-end;
      margin-top: 700px;
      margin-right: 95px;
      .more-photo-insta {
        p {
          text-transform: initial;
          font-size: 18px;
          line-height: 150%;
          margin-right: 30px;
        }
        .social-insta {
          background-color: #3B181E;
          width: 30px;
          height: 30px;
          img {
            padding-left: 3px;
            padding-bottom: 3px;
          }
        }
        .social-insta:hover {
          -webkit-filter: invert(100%);
          img {background-color: black;}
        }
      }
    }
  }

  //footer----------------------------
  footer.menu-page-main-footer {
    display: none;
    div.main-footer__items.flex.wrapper {
      div.footer-item {
        a {
          p {

          }
        }
      }
    }

    div.main-footer__social.wrapper {
      div.social-items.flex {
        div.social-item {
          img.inst {

          }
        }
      }
    }
  }
}

}