@media screen and (max-width: 640px) {
    
    body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

//section-main---------------------
section.main {
    background-color: #3B181E;
    background-image: url(/img/mobile/main-bg-mobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 320px;
    max-height: 585px;
    width: 100%;
    height: 585px;
    .main__header {
        height: 10%;
        justify-content: space-between;
        margin-left: 31px;
        margin-top: 16px;
        margin-right: 31px;
      .header-logo>a>img {
          width: 85px;
      }
      .header-main-menu>a>img {
          content: url(/img/mobile/main-menu-mobile.png);
          width: 90%;
      }
      .header-main-menu>a>img:hover {
        -webkit-filter: invert(30%);
      }
    }
    .main__title {
        max-width: 238px;
        margin-top: 95px;
        p {
            font-size: 30px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.09em;
        }
    }
    .main__footer {
        height: 180px;
        width: 320px;
        justify-content: space-between;
        margin-top: 20px;
        flex-direction: column-reverse;
      .sidebar-social {
          margin: 0 auto;
          position: relative;
        .social-items {
            flex-wrap: wrap;
          .social-item {
              width: 30px;
              margin: 21px;
              background-color: #3B181E;
              border-radius: 50%;
              img {
                  width: 20px;
                  margin-left: 5.5px;
                  margin-bottom: 3px;
              }
          }
          .social-item:hover {
            -webkit-filter: invert(100%);
            img {        
            }
          }
        }
        .social-items::after {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          background-image: url(/img/mobile/section-main-arrow.png);
          background-repeat: no-repeat;
          top: 85px;
          left: 140px;
        }
      }
      .our-works-button {
          max-width: 205px;
          width: 205px;
          align-self: center;
        .show-work-btn {
          justify-content: center;
            a {
                text-decoration: none;
                p.show-off {
                    display: block;
                    font-size: 10px;
                    line-height: 13px;
                    text-align: center;
                    letter-spacing: 0.15em;
                    color: white;
                    border: 1px solid white;
                    padding: 15px 25px;
                    background-color: rgba(0, 0, 0, 0.4);
                }
                p.show-on {
                  display: none;
                  font-size: 10px;
                  line-height: 13px;
                  text-align: center;
                  letter-spacing: 0.15em;
                  color: #000000;
                  background-color: white;
                  border: 1px solid white;
                  padding: 14px 25px;
                }
            }
        }
        .show-work-btn:hover .show-off {
          display: none;
        }
        .show-work-btn:hover .show-on {
          display: block;
        }
        .mouse-btn {
            display: none;
        }
      }
      .sidebar-show-catalog {
          display: none;
      }
    }
    .main__footer-gradient {
        display: none;    
    }
  }

//section-catalog-------------------------
  section.catalog {
    display: none;
  }

//section-catalog-mobile------------------
  section.catalog-mobile.flex {
    display: block;
    background-color: #3B181E;
    max-width: 320px;
    width: 100%;
    .catalog__title {
      margin-left: 16px;
      p {
        font-size: 20px;
        line-height: 170%;
        letter-spacing: 0.06em;

      }
    }
  
    .catalog__items {
      .slid {
        .slider {
          width: 288px;
          height: 392px;
          .slides {
            .slide {
              position: relative;
              .item-num {
                position: absolute;
                top: 23px;
                left: 100px;
                font-size: 20px;
                line-height: 22px;
                color: white;
              }
              .item-dash {
                position: absolute;
                border: 1px solid white;
                left: 20px;
                top: 36px;
                right: 230px;
              }
              .item-title {
                position: absolute;
                font-size: 16px;
                line-height: 170%;
                letter-spacing: 0.1em;
                color: white;
                bottom: 15px;
                left: 20px;
              }
              img {
              }
            }
          }
        }
        .slide__bullets {
          width: 288px;
          margin-left: 16px;
          margin-top: 20px;
          margin-bottom: 50px;
          justify-content: space-between;
          .slide__bullet {
            height: 3px;
            width: 62.62px;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 50px;
            border: 0px;
          }
          .glide__bullet--active {
            background-color: white;
            border: 0px;
          }
        }
      }
    }
  }
 
  //section-special-offer------------
  section.special-offer {
    background-color: #3B181E;
    max-width: 320px;
    width: 100%;
    div {
      width: 288px;
      flex-direction: column-reverse;
    .special-offer__article {
      width: 288px;
      align-content: center;
      flex-direction: column;
      margin-bottom: 50px;
      .offer-title {
        position: relative;
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 170%;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          color: #FFFFFF;
          padding-right: 20px;
        }
      }
      .offer-title::after {
        position: absolute;
        top: 80px;
        bottom: 0px;
        left: 0px;
        border: 1px solid #FFFFFF;
        width: 100px;
        background-color: white;
        content: '';
      }
      .offer-description {
        text-transform: none;
        margin-top: 30px;
        font-size: 14px;
        line-height: 170%;
      }
      .offer-link {
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.15em;
        width: 220px;
        height: 45px;
        background: #010001;
        margin-top: 40px;
        text-align: center;
        padding-top: 15px;
        a {
          text-decoration: none;
          color: white;
          .btn-offer-design {
            
          }
        }
      }
      .offer-link:hover {
        background-color: white;
        a {
          color: #000000;
        }
      }
    }
    .special-offer__img {
      img {max-width: 100%;}
    }
  }
}

//footer---------------------------
footer.main-footer {
  background-color: #3B181E;
  max-width: 320px;
  width: 100%;
  padding-top: 20px;
  .main-footer__items {
    width: 288px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 30px;
    .footer-item {
      a { 
        text-decoration: none;
        p {
          text-transform: none;
          font-size: 16px;
          line-height: 18px;
          color: rgba(255, 255, 255, 0.5);
          margin-bottom: 15px;
        }
        p:hover {
          color: white
        }
      }
    }
  }
  .main-footer__social {
    .social-items {
      justify-content: center;
      .social-item {
        margin: 30px 25px;
      }
      .social-item:hover {
        -webkit-filter: invert(100%);
        img {background-color: black;}
      }
    }
  }
}

//MAIN-MENU-PAGE---------------------------
//section photo----------------------
div.wrap-menu-page { 
  max-width: 320px; 
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #3B181E;
  section.photo {
    margin-top: 65px;
    width: 320px;
    height: 443px;
    
    position: relative;
    .photo__logo {
      position: absolute;
      left: 20px;
      top: -50px;
      content: '';
    }
    .photo__logo>a>img {
      width: 90px;
    }
    .photo__img {
      overflow: hidden;
    }
    .photo__img>img {
      width: auto;
      height: 523px;
      
      transform: translate(-18%, -20%);
      //height: auto;
      
    }
    .photo__img:after {
      display: none;
    }
  }

  //section-menu-page------------------
  section.menu-page {
    position: relative;
    max-width: 924px;
    min-width: 320px;
    width: 100%;
    flex-shrink: 10;
    background-color: #3B181E;
    flex-direction: column;
    .menu-page__header {
      position: absolute;
      top: -495px;
      right: 20px;
      .header-menu {
        a {
          img {
            content: url(/img/main-menu-page1/menu-page-menu-btn-pad.png);
            width: 18px;
            height: 9px;
          }
        }
      }
      .header-menu>a>img:hover {
        -webkit-filter: invert(30%);
      }
    }

    .menu-page__article {
      display: flex;
      flex-direction: column;
      width: 280px;
      height: 49px;
      margin-left: 20px;
      margin-top: 0px;
      .menu-page__article-title {
        margin-top: 0px;
        p {
          font-size: 20px;
          line-height: 22px;
          letter-spacing: 0.09em;
          text-transform: uppercase;
        }
      }

      .menu-page__article-description {
        width: 280px;
        height: auto;
        margin-top: 25px;
        p {
          text-transform: initial;
          font-family: Forum;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 120%;
          color: #FFFFFF;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }

      .menu-page__article-link {
        width: 119px;
        height: 45px;
        margin-top: 20px;
        a {
          text-decoration: none;
          .btn-article-to-order {
            font-size: 10px;
            line-height: 11px;
            text-align: center;
            letter-spacing: 0.15em;
            color: #FFFFFF;
            border: 1px solid white;
            padding: 19px 30px;
          }
          .btn-article-to-order:hover {
            background-color: white;
            color: #000000;
          }
        }
      }

      .menu-page__slider {
        position: absolute;
        top: 340px;
        left: 15px;
        width: 300px;
        height: 145px;
        margin-top: 80px;
        .glide {
          .glide__track {
            .glide__slides {
              .glide__slide {
                a>img {
                  width: 85px;
                }
              }
            }
          }
        
          .glide__arrows {
            position: relative;
            button.glide__arrow.glide__arrow--left {
              position: absolute;
              left: -13px;
              top: -42px;
              border-radius: 50%;
              width: 36px;
              height: 36px;
              border: 1px solid #FFFFFF;
              background: rgba(0, 0, 0, 0.4);
              p {
                position: absolute;
                left: 15px;
                top: 3px;
                transform: rotate(-90deg);
              }
            }
        
            button.glide__arrow.glide__arrow--right {
              position: absolute;
              right: -3px;
              top: -42px;
              border-radius: 50%;
              width: 36px;
              height: 36px;
              border: 1px solid #FFFFFF;
              background: rgba(0, 0, 0, 0.4);
              p {
                position: absolute;
                transform: rotate(90deg);
                top: 3px;
                left: 5px;
              }
            }
          }
        }
      }
    }

    .menu-page__footer {
      display: none;
    }
  }

  //footer----------------------------
  footer.menu-page-main-footer {
    background-color: #3B181E;
    max-width: 320px;
    width: 100%;
    padding-bottom: 5px;
    margin-top: 485px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    .main-footer__items {
      width: 310px;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      margin-top: 10px;
      .footer-item {
        a { 
          text-decoration: none;
          p {
            text-transform: none;
            font-size: 16px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 15px;
          }
          p:hover {
            color: white
          }
        }
      }
    }
    .main-footer__social {
      .social-items {
        justify-content: center;
        .social-item {
          margin: 25px 25px;
          img {
            width: 25px;
          }
        }
        .social-item:hover {
          -webkit-filter: invert(100%);
          img {background-color: black;}
        }
      }
    }
  }
}

//section-pupup-main-menu---------------------
section.popup-main-menu {
  position: fixed;
  justify-content: center;
  top: 0px;
  z-index: 2;
  max-width: 320px;
  width: 100%;
  max-height: 568px;
  height: 568px;
  background-color: #3B181E;
  //background-color: rgba(0,0,0,0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  .popup-main-menu__column-socials {
    display: none;
  }

  div.popup-main-menu__column-menu {
    margin-top: 26px;
    .main-menu-logo {
      text-align: center;
      a {
        img {width: 95px;}
      }
    }
    .main-menu-items {
      margin-top: 85px;
      .menu-item {
        width: 180px;
        height: 45px;
        margin-bottom: 45px;
        a {
          text-decoration: none;
          p {
            font-size: 15px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 0.09em;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
          }
          p:hover {
            font-size: 23px;
            line-height: 25px;
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .popup-main-menu__column-btn-close {
    position: absolute;
    //top: -60px;
    //right: 40px;
    .btn-close {
      padding-top: 15px;
      padding-left: 255px;
      a>img {width: 21px;}
    }
    .btn-close:hover {
      a>img {
        filter: contrast(40%);
      }
    }
  }
}

//section-popup-callme-back--------------
.popup-blured-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  section.popup-callme-back {
    position: fixed;
    width: 288px;
    height: 426px;
    background: #3B181E;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.2);
    .popup-callme-back__column-img {
      display: none;
      img {
      }
    }
    .popup-callme-back__form {
      flex-direction: column;
      align-items: center;
      width: 288px;
      position: relative;
      div {
        .popup-callme-back__title {
          width: 229px;
          height: 109px;
          margin-top: 62px;
          p {
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            letter-spacing: 0.09em;
          }
        }
        .popup-callme-back__btn-close {
          top: 16px;
          right: 20px;
          position: absolute;
          a {
            img {
              width: 22px;
            }
          }
        }
        .popup-callme-back__btn-close:hover {
          a>img {
            filter: contrast(40%);
          }
        }
      }
      form#callme-back {
        margin-top: 22px;
        text-align: center;
        input#name {
          width: 249px;
          height: 44px;
          font-size: 14px;
          line-height: 15px;
          letter-spacing: -0.01em;
          border: 1px solid rgba(246, 246, 249, 0.2);
          background: none;
          padding-left: 20px;
          margin-bottom: 25px;
          color: white;
        }
        input#phone {
          width: 249px;
          height: 44px;
          font-size: 14px;
          line-height: 15px;
          letter-spacing: -0.01em;
          border: 1px solid rgba(246, 246, 249, 0.2);
          background: none;
          padding-left: 20px;
          margin-bottom: 40px;
        }
        input#submit {
          width: 249px;
          height: 44px;
          font-size: 11px;
          line-height: 12px;
          text-align: center;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          color: #010001;
        }
      }
    }
  }
}

}